* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    padding: 10px 20px;
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(117, 150, 174);
    position: fixed;
}

a {
    color: bisque;
    text-decoration: none;
}

a:hover {
    color: white;
}

a:active {
    color: pink;
}

main {
    min-height: 100vh;
    background-color: rgb(202, 227, 236);
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 5px solid white;
    border-radius: 10px;
    background-color: rgb(117, 150, 174);
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

label, input {
    padding: 5px 0;
}

#submit {
    padding: 10px 0;
    text-transform: uppercase;
    background-color: rgb(117, 150, 174);
}

#submit:active, #submit:hover {
    color: white;
    background-color: rgb(202, 227, 236);
    
}

h6 {
    text-align: center;
    padding: 20px 0;
}